<h2>Map</h2>
Width: {{input type="text" value=mapWidth size="3"}}
Height: {{input type="text" value=mapHeight size="3"}}
<br>
Player: {{input type="text" value=entities.0.text size="10"}}<br>
<div class="row">
  <div class='col-md-offset-1 col-md-1 btn btn-default' {{action 'heroUp'}}>Up</div>
</div>

<div class="row">
  <div class='col-md-1 btn btn-default' {{action 'heroLeft'}}>Left</div>
  <div class='col-md-offset-1 col-md-1 btn btn-default' {{action 'heroRight'}}>Right</div>
</div>

<div class="row">
  <div class='col-md-offset-1 col-md-1 btn btn-default' {{action 'heroDown'}}>Down</div>
</div>

<div id="map-holder">
  <table id="map" class="map">
    {{#each row in map.rows}}
      <tr class="map-row">
        {{#each cell in row.cells}}
          <td class="map-cell">{{cell.text}}</td>
        {{/each}}
      </tr>
    {{/each}}
  </table>
</div>

